<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.smt"
    android:versionCode="1"
    android:versionName="1.0.0" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:name=".app.BeaconsApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- android:name=".activity.LoginActivity" -->
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="org.altbeacon.beacon.startup.StartupBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <service
            android:name="org.altbeacon.beacon.service.BeaconService"
            android:enabled="true"
            android:exported="true"
            android:isolatedProcess="false"
            android:label="beacon" >
        </service>
        <service
            android:name="org.altbeacon.beacon.BeaconIntentProcessor"
            android:enabled="true" >
        </service>

        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".activity.WebViewActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".activity.VideoActivity"
            android:label="@string/title_activity_video" >
        </activity>
        <activity
            android:name=".activity.ImageActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_Login" >
        </activity>
        <activity
            android:name=".activity.RecoverPassword"
            android:label="@string/title_activity_Recover_Passwor" >
        </activity>
        <activity
            android:name=".activity.WalletActivity"
            android:label="@string/title_activity_wallet" >
        </activity>
        <activity
            android:name=".activity.BuscarPromocionesActivity"
            android:launchMode="singleInstance"
            android:label="@string/title_activity_Buscar_Promoicones" >
        </activity>
        <activity
            android:name=".activity.RegisterUserActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name=".activity.Pruebas"
            android:label="@string/title_activity_pruebas" >
        </activity>
        <activity
            android:name=".activity.ConfiguracionActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="org.smt.activity.ChangePasswordActivity"
            android:label="@string/title_activity_change_password" >
        </activity>
    </application>

</manifest>